Source: xlnx-ddr-qos
Section: utils
Priority: optional
Maintainer: Talha Can Havadar <talha.can.havadar@canonical.com>
Build-Depends: cmake, debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://github.com/Xilinx/ddr-qos
Rules-Requires-Root: no 

Package: xlnx-ddr-qos
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: application to set QOS value of DDR slots in ZynqMP platforms
 This Debian binary package enables users to manipulate QOS values of
 DDR slots in ZynqMP platforms including KD240, KV260 and KR260 board families.
 .
 Binary provided by this tool also being used by xmutil utility tool that is
 provided by AMD
